/* BODY AND OTHER BASICS */
body {
    background-color: #f2f3f4;
    margin: 0;
    padding 0;
}

/******************************************/

/* TEXT + FONTS */
a {
    color: #1d2951;
    text-decoration: none;
}

a:focus {
    color: #fffff;
}

a:hover,input[type=submit]:hover {
  font-weight: bold;
}

a:active {
    font-weight: bold;
}

@font-face {
    font-family: 'Northwell Clean Swash';
    src: url('../assets/fonts/NorthwellCleanSwash.woff2') format('woff2'),
        url('../assets/fonts/NorthwellCleanSwash.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Northwell';
    src: url('../assets/fonts/Northwell.woff2') format('woff2'),
        url('../assets/fonts/Northwell.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Northwell Alt';
    src: url('../assets/fonts/NorthwellAlt.woff2') format('woff2'),
        url('../assets/fonts/NorthwellAlt.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Northwell Swash';
    src: url('../assets/fonts/NorthwellSwash.woff2') format('woff2'),
        url('../assets/fonts/NorthwellSwash.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Northwell Clean';
    src: url('../assets/fonts/NorthwellClean.woff2') format('woff2'),
        url('../assets/fonts/NorthwellClean.woff') format('woff');
    font-weight: normal;
    font-style: normal;x
}

@font-face {
    font-family: 'Northwell Clean Alt';
    src: url('../assets/fonts/NorthwellCleanAlt.woff2') format('woff2'),
        url('../assets/fonts/NorthwellCleanAlt.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

h1 {
  color: #f2f3f4;
  text-align: center;
}

h1, .footer-text, .married-text {
  display: inline;
  font-size: 150px;
  font-family: 'Northwell Clean';
}

h2 {
    font-size: 30px;
    font-weight: 400;
}

h3 {
    font-family: 'Northwell Clean';
    font-size: 45px;
    text-align: center;
}

.bridal, .no-margin {
  margin: 0
}

.name {
  text-align: center;
}

p, div, li, a, .overlay {
  font-family: 'Heebo';
  color: #1d2951;
  font-weight: 300;
}

#form-q {
  font-weight: bold;
  display: block;
}

input[type=text] {
  width: 75%;
  padding: 10px 15px;
  margin: 6px 0;
  /*border: 1px solid #1d2951;
  border-radius: 2px;*/
}

#form-hint {
  font-size: 12px;
  margin: 0;
}

.rsvp {
  margin: 0px;
}

hr.style-two {
    border: 0;
    height: 1px;
    background: #1d2951;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

.container {
  position: relative;
  text-align: center;
  color: white;
}

.non-hero {
  padding: 45px;

}

/******************************************/


/* NAVIGATION & BUTTONS */
nav {
 width: 100%;
 text-align:right;*/
 overflow: hidden;

}

nav ul {
 padding: 0;
 margin: 0;
}

nav ul li {
 display: inline;
 list-style-type: none;
 margin: 0;
 padding: 12px 0;
}

nav a:hover {
 font-weight: 500;
}

nav a {
 color: #1d2951;
 display:inline-block;
 text-decoration: none;
 padding: 15px;
}

button, input[type=submit] {
  -webkit-appearance: none;
  background-color: #1d2951;
  border: none;
  color: #ffffff;
  font-size: 15px;
  padding: 15px 32px;
  border-radius: 8px;
 
  display: block;
  max-width: 500px;
  margin: auto;

}

button a {
  font-family: 'Heebo';
  color: #ffffff;
  font-size: 15px;
  font-weight: 300;
  text-align: center;
  text-decoration: none;
}



/******************************************/

/* FOOTER */
footer {
  text-align: center;
}

/******************************************/

/* IMG */

.responsive {
  width: 100%;
  height: auto;
}

.hero {
   position: relative;
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
}

.hero::before {
   content: "";
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: url(../assets/photos/2.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center center;
   filter: brightness(60%);
}

.hero-content {
  position: relative;
  color: white;
  text-align: center;
}



/******************************************/

/* CONTAINERS */

  .flex-container {
  display: flex;
  justify-content: space-around;
  gap: 20px 60px;
}

.flex-container-wrap {
  display: flex;
  flex-direction: row;
  row-gap: 50px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.row {
  display: flex;
}

.column {
  flex: 90%;
}

#flexbox > div {
  margin: 20px;  
}

.grid {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-gap: 30px;
}

.grid-pictures {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-gap: 30px;
}

@media screen and (min-width: 650px) {
  h1, .footer-text, .married-text {
    font-size: 150px;
  }

  h2 {
    font-size: 30px;
  }

  h3, .rsvp {
    font-size: 45px;
  }

  p, div, li, a, #form-q {
    font-size: 15px;
  }

  button a {
  font-size: 15px;
  }

}

@media screen and (max-width: 649px) {
  h1, .footer-text {
    font-size: 65px;
  }

  .married-text {
    font-size: 45px;
  }

  h2 {
    font-size: 20px;
  }

  h3, .rsvp {
    font-size: 25px;
  }

  p, div, li, a, #form-q  {
    font-size: 12px;
  }

  button a {
  font-size: 10px;
  }
}

@media (max-width:760px) {
  .flex-container {
    flex-direction: column;
  }

  .grid {
  grid-template-columns: repeat(2,1fr);
  grid-gap: 30px;
}

  .grid-pictures {
  grid-template-columns: repeat(1,1fr);
  grid-gap: 30px;
}
}


